openapi: 3.1.0
info:
  title: API Reference subpackage_auth subpackage_voiceChanger API
  version: 1.0.0
servers:
- url: https://api.murf.ai
- url: https://global.api.murf.ai
- url: https://us-east.api.murf.ai
- url: https://us-west.api.murf.ai
- url: https://in.api.murf.ai
- url: https://ca.api.murf.ai
- url: https://kr.api.murf.ai
- url: https://me.api.murf.ai
- url: https://jp.api.murf.ai
- url: https://au.api.murf.ai
- url: https://eu-central.api.murf.ai
- url: https://uk.api.murf.ai
- url: https://sa-east.api.murf.ai
tags:
- name: subpackage_voiceChanger
paths:
  /v1/voice-changer/convert:
    post:
      operationId: convert
      summary: Voice Changer
      description: Returns a url to the generated audio file along with other associated properties.
      tags:
      - subpackage_voiceChanger
      parameters:
      - name: api-key
        in: header
        required: false
        schema:
          type: string
      responses:
        '200':
          description: Ok
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SpeechToSpeechResponse'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                description: Any type
        '402':
          description: Expired subscription or character limit exhausted
          content:
            application/json:
              schema:
                description: Any type
        '403':
          description: Invalid or expired token/api-key provided
          content:
            application/json:
              schema:
                description: Any type
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                description: Any type
        '503':
          description: Service Unavailable
          content:
            application/json:
              schema:
                description: Any type
      requestBody:
        content:
          multipart/form-data:
            schema:
              type: object
              properties:
                audio_duration:
                  type: number
                  format: double
                  description: This parameter allows specifying the duration (in seconds) for the generated audio. If the value is 0, this parameter will be ignored. Only available for Gen2 model.
                channel_type:
                  type: string
                  default: MONO
                  description: 'Valid values: STEREO, MONO'
                encode_output_as_base64:
                  type: boolean
                  description: Set to true to receive audio in response as a Base64 encoded string along with a url.
                file:
                  type: string
                  format: binary
                  description: The file to upload
                file_url:
                  type: string
                format:
                  type: string
                  default: WAV
                  description: 'Format of the generated audio file. Valid values: MP3, WAV, FLAC, ALAW, ULAW'
                multi_native_locale:
                  type: string
                  description: 'Specifies the language for the generated audio, enabling a voice to speak in multiple languages natively. Only available in the Gen2 model.

                    Valid values: "en-US", "en-UK", "es-ES", etc.


                    Use the GET /v1/speech/voices endpoint to retrieve the list of available voices and languages.'
                pitch:
                  type: integer
                  description: Pitch of the voiceover
                pronunciation_dictionary:
                  type: string
                  description: 'A JSON string that defines custom pronunciations for specific words or phrases. Each key is a word or phrase, and its value is an object with `type` and `pronunciation`.


                    Example 1: ''{"live": {"type": "IPA", "pronunciation": "laɪv"}}''


                    Example 2: ''{"2022": {"type": "SAY_AS", "pronunciation": "twenty twenty two"}}'''
                rate:
                  type: integer
                  description: Speed of the voiceover
                retain_accent:
                  type: boolean
                  default: true
                  description: Set to true to retain the original accent of the speaker during voice generation.
                retain_prosody:
                  type: boolean
                  default: true
                  description: Indicates whether to retain the original prosody (intonation, rhythm, and stress) of the input voice in the generated output.
                return_transcription:
                  type: boolean
                  default: false
                  description: Set to true to include a textual transcription of the generated audio in the response.
                sample_rate:
                  type: number
                  format: double
                  default: 44100
                  description: Valid values are 8000, 24000, 44100, 48000
                style:
                  type: string
                  description: The voice style to be used for voiceover generation.
                transcription:
                  type: string
                  description: This parameter allows specifying a transcription of the audio clip, which will then be used as input for the voice changer
                variation:
                  type: integer
                  default: 1
                  description: Higher values will add more variation in terms of Pause, Pitch, and Speed to the voice. Only available for Gen2 model.
                voice_id:
                  type: string
                  description: Use the GET /v1/speech/voices API to find supported voiceIds. You can use either the voiceId (e.g. en-US-natalie) or just the voice actor's name (e.g. natalie).
              required:
              - voice_id
components:
  schemas:
    SpeechToSpeechResponse:
      type: object
      properties:
        audio_file:
          type: string
          description: The URL or path of the generated audio file.
        audio_length_in_seconds:
          type: number
          format: double
          description: Length of the generated audio in seconds.
        encoded_audio:
          type: string
          description: Base64 encoded string of the generated audio. Used when audio is returned directly in the response.
        remaining_character_count:
          type: integer
          format: int64
          description: Remaining number of characters available for synthesis in the current billing cycle.
        transcription:
          type: string
          description: Transcript of the generated audio, if transcription was requested.
        warning:
          type: string
          description: Any warning or informational message related to the audio generation process.
      required:
      - audio_file
      - audio_length_in_seconds
      - remaining_character_count
      title: SpeechToSpeechResponse
